DB_PASSWORD=your_mysql_password
MP_PUBLIC_KEY=your_mercado_pago_public_key
MP_ACCESS_TOKEN=your_mercado_pago_access_token
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
GA_MEASUREMENT_ID=your_google_analytics_measurement_id